﻿@model SchoolVoting.Models.Votante

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Votante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EParaTodosUsuarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EParaTodosUsuarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVotoHabilEmBranco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVotoHabilEmBranco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QdeVotos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QdeVotos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QdeVotosBranco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QdeVotosBranco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidatoIdVencedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidatoIdVencedor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
