﻿@model SchoolVoting.Models.Votante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Votante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EParaTodosUsuarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EParaTodosUsuarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EVotoHabilEmBranco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVotoHabilEmBranco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QdeVotos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QdeVotos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QdeVotosBranco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QdeVotosBranco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidatoIdVencedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidatoIdVencedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdVotante }, new { @class = "btn btn-primary" }) |
    @if (!Model.EParaTodosUsuarios)
    {
        @Html.ActionLink("Adicionar Grupo", "AddGroup", new { id = Model.IdVotante }, new { @class = "btn btn-warning" }) 
    }
    @Html.ActionLink("Adicionar Candid.", "AddCandidato", new { id = Model.IdVotante }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Voltar", "Index", new {  }, new { @class = "btn btn-success" })
</p>
