﻿@model IEnumerable<SchoolVoting.Models.Votante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.State.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EParaTodosUsuarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EVotoHabilEmBranco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QdeVotos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QdeVotosBranco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidatoIdVencedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.State.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EParaTodosUsuarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EVotoHabilEmBranco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QdeVotos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QdeVotosBranco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidatoIdVencedor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdVotante }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdVotante }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdVotante })
        </td>
    </tr>
}

</table>
