﻿@model IEnumerable<SchoolVoting.Models.Utilizador>

@{
    ViewBag.Title = "Index";
}

<h2>Gerir Utilizadores do Sistema</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>*@
        <td>
            @if (!string.IsNullOrEmpty(item.Foto))
            {
                <img src="@Url.Content(item.Foto)" , alt="Image" style="width:100px;height:100px;" />
                //max - width: 100 %; height: auto;
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UtlizadorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UtlizadorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UtlizadorId })
        </td>
    </tr>
}

</table>
