﻿@model SchoolVoting.Models.GrupoDetailsView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GrupoId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Adicionar Membro", "AddMember", new { GrupoId = Model.GrupoId }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index",new { }, new { @class = "btn btn-success" })
</p>

<h3>Membros</h3>
@if (Model.Members.Count == 0)
{
    <h3>Nenhum membro adicionado</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Members[0].Utilizador.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Members[1].Utilizador.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Members[2].Utilizador.Foto)
            </th>

            <th></th>
        </tr>

        @for (int i = 0; i < Model.Members.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Members[i].Utilizador.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Members[i].Utilizador.FullName)
                </td>
                 <td>
                    @if (!string.IsNullOrEmpty(Model.Members[i].Utilizador.Foto))
                    {
                        <img src="@Url.Content(Model.Members[i].Utilizador.Foto)" , alt="Image" style="width:100px;height:100px;" />
                        //max - width: 100 %; height: auto;
                    }
                </td>
                <td>
                   @Html.ActionLink("Delete", "DeleteMember", new { id = Model.Members[i].GroupMemberId }, new { @class = "btn btn-danger", onclick="return confirm ('Tem certaza para eliminar esse membro?');", })
                </td>
            </tr>
        }

    </table>


}
