﻿@model IEnumerable<SchoolVoting.Models.Grupo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            Nº de Membros
        </th>
        <th>..: ACÇÕES :..</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupMembers.Count)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.GrupoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.GrupoId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.GrupoId })
        </td>
    </tr>
}

</table>
